body {
   text-align: center;
   padding-top: 40px;
   background-color: rgb(20, 40, 70);
   font-family: Brandon Text, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu,
      Cantarell, Helvetica Neue, sans-serif;
}

p {
   margin: 0px auto 10px auto;
   line-height: 30px;
   border: 1px solid black;
   width: 300px;
   height: 30px;
   color: rgb(210, 210, 210);
   border-radius: 5px;
   background-color: rgb(26, 54, 107);
}

input {
   display: block;
   margin: 0px auto 20px auto;
   background-color: rgb(50, 60, 70);
   border: 0px;
   border-radius: 5px;
   color: rgb(210, 210, 210);
   font-family: Brandon Text, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu,
      Cantarell, Helvetica Neue, sans-serif;
   height: 20px;
   text-align: center;
}

button {
   border-radius: 5px;
   background-color: rgb(26, 54, 107);
   color: rgb(210, 210, 210);
   border: 1px solid black;
   width: 70px;
   height: 30px;
   margin-top: 20px;
}

.prevent-select {
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.viewed {
   background-color: rgb(60, 60, 60);
}

.not-viewed {
   color: rgb(70, 70, 70);
   background-color: rgba(0, 0, 0, 0);
}

::placeholder {
   color: rgb(140, 140, 140);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}
